.about-page-container {
  display: flex;
  flex-direction: column;
  background-color: #f1f9ff;
  font-family: "Jost", sans-serif;
  color: #016a66;
  width: 100%;
}
.about-page-title {
  font-weight: 700;
  font-size: 35px;
}
.about-page-desc {
  width: 45%;
  font-weight: 300;
  font-size: 15px;
  text-align: left;
}
.about-page-line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.about-page-txt {
  margin: 100px;
}
